body{
  background-color: #bbb;
  align-items: center;
  outline: none;
  user-select: none;
  overflow: hidden;
  --main: #ddd;
  --green: #0b8;
  --dark: rgba(0,0,0,.2);
}

div::-webkit-scrollbar {
  width: 1vh;
  border-radius: 1vh; 
}

div::-webkit-scrollbar-track {
  border-radius: 1vh; 
}

div::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 1vh;       
}


div{
  scrollbar-width: 1vh;
  scrollbar-color:  #eee var(--main);
}
input{
  background: none;
  margin: 0;
  border: none;
  padding: .5vh 0;
  outline: none;
  font-size: calc(10px + 1.5vmin);
}
h4{
  margin: 1vh;
  /* color: var(--green); */
  /* text-shadow: 0 1px 4px #333; */
}
.App {
  text-align: left;
  height: 100vh;
  color: #111;
  padding: 4vh;
  width: 80%;
  font-size: calc(10px + 1.5vmin);
  margin: 5vh auto;
  /* border: 1px solid blue; */
}

.App div{
  background-color: var(--main);
  margin: 1vh;
  padding: 1vh;
  border-radius: 2vh;
  border: 1px solid rgba(0,0,0,.2);
}

.half{
  width: 47%;
  display: inline-block;
  /* outline: 1px solid blue; */
}

.inner{
  height: 75%;
  overflow-y: auto;
  /* border: 1px solid rgba(0,0,0,.2); */
  /* border-radius: none;  */
  font-size: calc(6px + 1.4vmin);
}
.round{
  border-radius: 99999px;
}

.border{
  border: 1px solid rgba(0,0,0,.4);
  /* border: 1px solid #eee; */
}
.short{
  height: 40%;
  display: inline-block;
  overflow-y: hidden;
}

.shaded{
  box-shadow: 4px 8px 12px 2px rgba(0,0,0,.1);
}

.nombar{
  padding: 2px 0;
  border-radius: 9999px;
}

.nombar:hover{
  background-color: #eee;
  /* border-bottom: 1px solid #0a8; */
}

.nombar:hover > .hide{
  color: var(--green);
  border-left: 1px solid ;
  font-size:  calc(6px + 1vmin);
  padding: .2vh .3vh;
}

.hide{
  color: var(--main);
  right: 0;
  float: right;
  cursor: pointer;
}

.warning{
  text-align: center;
  /* background-color: #bbb; */
  /* border: 1px solid; */
  color: #598;
  /* padding: 1.8vh; */
  margin: 3vh 0 0;
  /* border-radius: 2vh; */
  font-weight: bold;
  text-shadow: 0 0 4px #fff;
}
