body{
  background-color: #bbb;
  align-items: center;
  outline: none;
  user-select: none;
  --main: #ccc;
}

input{
  background: none;
  margin: 0;
  border: none;
  padding: .5vh 0;
  outline: none;
  font-size: calc(10px + 1.5vmin);
}
h4{
  margin: 1vh;
}
.App {
  text-align: left;
  height: 100vh;
  color: #111;
  padding: 4vh;
  width: 80%;
  font-size: calc(10px + 1.5vmin);
  margin: 5vh auto;
}

.App div{
  background-color: var(--main);
  margin: 2vh;
  padding: 1vh;
  border-radius: 2vh;
}

.wide{
  width: 95%; 
}

.half{
  width: 46%;
  display: inline-block;
}

.inner{
  height: 65%;
  overflow-y: auto;
  border: 1px solid rgba(0,0,0,.2);
  /* border-radius: none;  */
  font-size: calc(8px + 1.2vmin);
}
.round{
  border-radius: 99999px;
}

.border{
  border: 1px solid rgba(0,0,0,.4);
}
.short{
  height: 40%;
  display: inline-block;
  overflow-y: hidden;
}

.shaded{
  box-shadow: 0 2px 5px #555;
}

.nombar{
  /* border: 1px solid rgba(0,0,0,.1); */
  cursor: pointer;
  padding: 2px 0;
}

.nombar:hover{
  /* background-color: #5ca; */
  border-bottom: 1px solid #0a8;
}

.nombar:hover > .hide{
  color: #0a8;
}

.hide{
  color: var(--main);
  right: 0;
  /* border-radius: 10px 0 0 0 ; */
  float: right;
}