body{
  background-color: #bbb;
  /* background-image: url(bg1.png); */
  align-items: center;
  outline: none;
  user-select: none;
  overflow: hidden;
  --main: #ddd;
  --green: #0b8;
  --dark: rgba(0,0,0,.2);
}

input{
  background: none;
  margin: 0;
  border: none;
  padding: .5vh 0;
  outline: none;
  font-size: calc(10px + 1.5vmin);
  width: 95%;
}

h4{
  margin: 0 1vh ;
}
.App {
  text-align: left;
  height: 100vh;
  color: #eee;
  padding: 4vh;
  width: 80%;
  font-size: calc(10px + 1.5vmin);
  margin: 5vh auto;
  text-shadow: 0 0 2px #000;
  /* background-color: rgba(0,0,0,.2); */
}

.App div{
  background-color: var(--main);
  margin: 1vh;
  padding: 1vh;
  border-radius: 2vh;
  border: 1px solid rgba(0,0,0,.2);
  color: #333;
  text-shadow: none;
}

.half{
  width: 47%;
  display: inline-block;
}

.inner{
  height: 75%;
  overflow-y: auto;
  font-size: calc(6px + 1.4vmin);
  transition: all 1s ease;
}

.round{
  border-radius: 99999px;
}

.border{
  border: 1px solid rgba(0,0,0,.4);
}

.short{
  height: 40%;
  display: inline-block;
  overflow-y: hidden;
}

.shaded{
  box-shadow: 4px 8px 12px 2px rgba(0,0,0,.1);
}

.nombar{
  padding: 2px 0;
  border-radius: 9999px;
  /* transition: all .1s ease; */
}

.nombar:hover{
  background-color: #eee;
}

.nombar:hover > .hide{
  color: var(--green);
  border-left: 1px solid ;
  font-size:  calc(6px + 1vmin);
  padding: .2vh .3vh;
}

.hide{
  color: var(--main);
  right: 0;
  float: right;
  cursor: pointer;
  transition: all .3s ease;
}
.hide:hover{
  font-weight: bold;
}
.warning{
  text-align: center;
  color: #598;
  margin: 3vh 0 0;
  font-weight: bold;
  text-shadow: 0 0 4px #fff;
}

#footer{
  color: #ddd;
  font-size: calc(6px + 1.4vmin);
  text-align: center;
  text-shadow: none;
}
/* Formatting scrollbar for Chrome, Edge, Safari */
div::-webkit-scrollbar {
  width: 1vh;
  border-radius: 1vh; 
}

div::-webkit-scrollbar-track {
  border-radius: 1vh; 
}

div::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 1vh;       
}
/* Formatting scrollbar for Firefox */
div{
  scrollbar-width: 1vh;
  scrollbar-color:  var(--dark) var(--main);
}